# Debian 12 Preseed - Smart Mirror VM (automated install)

# Locale & keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select fr
d-i console-keymaps-at/keymap select fr-latin1

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string smart-mirror-vm
d-i netcfg/get_domain string local

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Clock
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i clock-setup/ntp boolean true

# Partitioning - single partition, whole disk
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Users
d-i passwd/root-enable boolean true
d-i passwd/root-password password mirror
d-i passwd/root-password-again password mirror
d-i passwd/user-fullname string Mirror User
d-i passwd/username string mirror
d-i passwd/user-password password mirror
d-i passwd/user-password-again password mirror
d-i passwd/user-default-groups string audio video input sudo

# Package selection - minimal + SSH
tasksel tasksel/first multiselect ssh-server, standard
d-i pkgsel/include string sudo openssh-server curl git
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

# Finish
d-i finish-install/reboot_in_progress note
